#zoneDeProduit {
    font-size: 25px;
    font-weight: bold;
    color: yellow;
}
#zoneDeResultat {
    font-size: 30px;
    font-weight: bold;
    background: green;
    border-style: outset;
    border-width: 2px;
    color: yellow;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
#zoneDeScore {
    font-size: 15px;
    font-weight: bold;
    color: yellow;
}